body{
    font-family: "Georgia";
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: white;
    text-shadow: 2px 2px #0d00ff;
}
nav{
    background-color: rgb(40, 40, 150);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 20px;
    width: 90%;
    border-radius: 40px;
    z-index: 2;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin: 0 20px;
}
a{
    text-decoration: none;
    color: white;
}
.recommendation-result{
    height: auto;
    width: auto;
    position: fixed;
    right: 100px;
    top: 100px;
    z-index: 2;
}
.recommendation-result-hidden{
    height: auto;
    width: auto;
    position: fixed;
    right: 100px;
    top: 100px;
    z-index: 2;
    display: none;
}
.result{
    background-color: blue;
    height: auto;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.result-image{
    width: 400px;
    height: 200px;
    border: 1px solid white;
}
section{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-div{
    background-color: white;
    padding: 10px; 
    border-radius: 20px;
}
#search-input{
    border: none;
}
#search-input:focus{
    border: none;
    outline: none;
}
button{
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    padding: 5px;
}
#home{
    font-size: 1.5em;
    flex-direction: column;
    align-items: start;
}
#home > div{
    padding-left: 100px;
    width: 500px;
}
#aboutUs{
    font-size: 1.5em;
    flex-direction: column;
    align-items: center;
}
#aboutUs > div{
    width: 1000px;
}
#contactUs{
    
}
.contact-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    margin: 20px;
}
legend{
    font-size: 2em;
}
.contact-form > input{
    height: 50px;
    margin-top: 20px;
}
.contact-form > textarea{
    height: 150px;
    margin: 20px 0;
}
.contact-button{
    height: 50px;
}